<!DOCTYPE html>
	<html dir="ltr" lang="en">
	    <head>
            <meta charset="UTF-8">
            <title>ARB Communication Affidavit</title>
            <style>
                body {
                font-family: "Times New Roman", Times, serif;
                height: 11in;
                width: 8.5in;
                padding: .25in;
                display: flex;
                flex-direction: column;
                font-size: 15px;
                }
            </style>
        </head>
        <body>
            <main>
                TEST
                {{ panelChairName }}
                <img src="{{{ panelChairSignature }}}">
            </main>
        </body>
    </html>